In [1]:
import numpy as np
import pandas as pd
np.set_printoptions(suppress= True)

In [2]:
# Approximate coordinates
x0 = 4641949.8142  
y0 = 1393045.1637  
z0 = 4133287.2808
_c = 299792458

In [3]:
# Read observation and orbit data
data = pd.read_csv("data1730.csv")
data

     id            c1          x_km          y_km          z_km   dt_micros
0   G02  2.411677e+07   7135.008494 -14849.971117  21517.023059 -651.012026
1   G03  2.356147e+07  12544.080116  23386.262196   1990.631494 -313.089543
2   G04  2.210971e+07   4984.601456  16701.167860  20023.325000 -143.204193
3   G06  2.119391e+07  22068.788330  -6835.828975  13232.720226  394.191090
4   G07  2.142014e+07  25529.736094   6306.851865   5707.432902  318.372341
5   G09  2.050611e+07  14103.647615   6315.723496  21536.245257 -316.765876
6   G11  2.262652e+07  10775.086216 -12936.187683  20530.761567  -10.480353
7   G16  2.411335e+07  -3068.822628  21354.864095  14907.470109 -516.635665
8   G19  2.566904e+07  20101.602061 -15581.978158  -7469.495870  186.676562
9   G20  2.417244e+07   4975.449034 -17557.715137  19376.431749  501.298885
10  G26  2.484548e+07  -9483.897913  13912.873220  20390.329009  219.441568
11  G30  2.366532e+07  26207.416026  -1064.175332  -4887.935919 -534.509448

In [4]:
# Regression variables
_m = 4
_n = len(data)
_r = _n - _m
_m, _n, _r

(4, 12, 8)

In [5]:
# Table of approximate receiver coordinates and clock correction
table_X0 = np.array([x0, y0, z0, 0]).reshape((_m, 1))
table_X0

array([[4641949.8142],
       [1393045.1637],
       [4133287.2808],
       [      0.    ]])

In [6]:
# Convert satellite coordinates from km to m 
# and clock correction from microseconds to seconds
data['x_m'] = data['x_km'] * 1000
data['y_m'] = data['y_km'] * 1000
data['z_m'] = data['z_km'] * 1000
data['dt_s'] = data['dt_micros'] / 10**6

In [7]:
# Calculate c * dt
data['cdt'] = _c * data['dt_s']
data

,id,c1,x_km,y_km,z_km,dt_micros,x_m,y_m,z_m,dt_s,cdt
0,G02,2.411677e+07,7135.008494,-14849.971117,21517.023059,-651.012026,7.135008e+06,-1.484997e+07,2.151702e+07,-0.000651,-195168.495462
1,G03,2.356147e+07,12544.080116,23386.262196,1990.631494,-313.089543,1.254408e+07,2.338626e+07,1.990631e+06,-0.000313,-93861.883670
2,G04,2.210971e+07,4984.601456,16701.167860,20023.325000,-143.204193,4.984601e+06,1.670117e+07,2.002332e+07,-0.000143,-42931.537015
3,G06,2.119391e+07,22068.788330,-6835.828975,13232.720226,394.191090,2.206879e+07,-6.835829e+06,1.323272e+07,0.000394,118175.515793
4,G07,2.142014e+07,25529.736094,6306.851865,5707.432902,318.372341,2.552974e+07,6.306852e+06,5.707433e+06,0.000318,95445.626668
5,G09,2.050611e+07,14103.647615,6315.723496,21536.245257,-316.765876,1.410365e+07,6.315723e+06,2.153625e+07,-0.000317,-94964.020577
6,G11,2.262652e+07,10775.086216,-12936.187683,20530.761567,-10.480353,1.077509e+07,-1.293619e+07,2.053076e+07,-0.000010,-3141.930787
7,G16,2.411335e+07,-3068.822628,21354.864095,14907.470109,-516.635665,-3.068823e+06,2.135486e+07,1.490747e+07,-0.000517,-154883.475901
8,G19,2.566904e+07,20101.602061,-15581.978158,-7469.495870,186.676562,2.010160e+07,-1.558198e+07,-7.469496e+06,0.000187,55964.225373
9,G20,2.417244e+07,4975.449034,-17557.715137,19376.431749,501.298885,4.975449e+06,-1.755772e+07,1.937643e+07,0.000501,150285.624927
10,G26,2.484548e+07,-9483.897913,13912.873220,20390.329009,219.441568,-9.483898e+06,1.391287e+07,2.039033e+07,0.000219,65786.927058
11,G30,2.366532e+07,26207.416026,-1064.175332,-4887.935919,-534.509448,2.620742e+07,-1.064175e+06,-4.887936e+06,-0.000535,-160241.901240

In [8]:
# Set loop-break variables
iters = 0
max_iters = 2

In [9]:
# Initialize final_coords dataframe
final_coords = pd.DataFrame()

In [10]:
def distance(df, x0, y0, z0):
    return(np.sqrt((df['x_m'] - x0)**2 + (df['y_m'] - y0)**2 + (df['z_m'] - z0)**2))

In [11]:
def make_table_A(df, x0, y0, z0):
    _a1 = -(df['x_m'] - x0) / df['dist0']
    _a2 = -(df['y_m'] - y0) / df['dist0']
    _a3 = -(df['z_m'] - z0) / df['dist0']
    return([_a1, _a2, _a3])

In [12]:
while iters < max_iters:
    # Calculate approximate distance between receiver and each satellite
    data['dist0'] = data.apply(distance, axis= 1, args= [table_X0[0][0], table_X0[1][0], table_X0[2][0]])

    # Calculate table dl = c1 - dist0 + cdt
    table_dl = (data['c1'] - data['dist0'] + data['cdt']).to_numpy().reshape((_n, 1)) 

    # Calculate table A and At
    table_A_df = pd.DataFrame()
    table_A_df[["dXr", "dYr", "dZr"]] = data.apply(make_table_A, axis= 1, result_type= "expand",
                                            args= [table_X0[0][0], table_X0[1][0], table_X0[2][0]])
    table_A_df['cdtr'] = 1
    table_A = table_A_df.to_numpy()

    table_A_trans = table_A.transpose()

    # Calculate table N = At * A and N-1
    table_N = np.dot(table_A_trans, table_A)
    table_N_inv = np.linalg.inv(table_N)

    # Calculate table U = At * dl
    table_U = np.dot(table_A_trans, table_dl)

    # Calculate table dx = N-1 * U
    table_dx = np.dot(table_N_inv, table_U)

    # Replace approximate coordinates with the new ones
    table_X0 = table_X0 + table_dx

    # Calculate table of residuals υ = A * dx - dl
    table_res = np.dot(table_A, table_dx) - table_dl
    table_res_trans = table_res.transpose()

    # Calculate variance σ² (a posteriori)
    var_post = (np.dot(table_res_trans, table_res) / _r)[0][0]

    # Calculate varcovar table Vx = σ² * N-1 (a posteriori)
    table_varcovar_post = var_post * table_N_inv

    # Calculate coord stds σ (m)
    stds = np.sqrt(np.diagonal(table_varcovar_post))

    iters += 1

    final_coords[f'X_{iters}'] = np.round(table_X0, 3).flatten().tolist()
    final_coords[f'sX_{iters}'] = np.round(stds, 3)

    print("Std: ", np.sqrt(var_post))

Std:  23.73224057176093
Std:  23.732232140649916

In [13]:
final_coords

           X_1    sX_1          X_2    sX_2
0  4641963.220  19.260  4641963.220  19.260
1  1393113.622  12.031  1393113.622  12.031
2  4133327.830  19.357  4133327.830  19.357
3      -60.220  13.372     -120.441  13.372

In [14]:
# Difference from constant coords
xc = 4641949.843
yc = 1393045.166
zc = 4133287.247
diffs = [round(final_coords['X_2'].iloc[0] - xc, 3), 
         round(final_coords['X_2'].iloc[1] - yc, 3), 
         round(final_coords['X_2'].iloc[2] - zc, 3)]

diffs

[13.377, 68.456, 40.583]